<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIScrollView_KeyBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30E58DFF1EBC6FE300ED8683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30E58E131EBC6FE300ED8683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30E58E1E1EBC6FE300ED8683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
